################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/HR-AUTOMATION-API.slnx/FileContentIndex
/.vs/HR-AUTOMATION-API.slnx/v18
/HR-AUTOMATION-API/bin/Debug/net10.0
/HR-AUTOMATION-API/obj
/HR-AUTOMATION.Application/obj
/HR-AUTOMATION.Domain/bin/Debug/net10.0
/HR-AUTOMATION.Domain/obj
/HR-AUTOMATION.Infrastructure/bin/Debug/net10.0
/HR-AUTOMATION.Infrastructure/obj
/.vs
/HR-AUTOMATION.Application/bin/Debug/net10.0/HR-AUTOMATION.Application.dll
/HR-AUTOMATION.Application/bin/Debug/net10.0/HR-AUTOMATION.Application.pdb
*.json
/Shared.Kernel/bin/Debug/net10.0
/Shared.Kernel/obj
/HR-AUTOMATION.Application/bin/Debug/net10.0/HR-AUTOMATION.Application.deps.json
/HR-AUTOMATION.Application/bin/Debug/net10.0
*.txt
/bin/Debug
/obj
/Logs
*.http
/HR-AUTOMATION-API/bin/Release/net10.0
/HR-AUTOMATION.Application/bin/Release/net10.0
/HR-AUTOMATION.Domain/bin/Release/net10.0
/HR-AUTOMATION.Infrastructure/bin/Release/net10.0
/Shared.Kernel/bin/Release/net10.0
/HR-AUTOMATION.Infrastructure/appsettings.json
/HR-AUTOMATION-API/Properties/PublishProfiles
/HR-AUTOMATION-API/appsettings.Development.json
